# Dictionaries and Pandas

## References: 

- [Datacamp - Matplotlib](https://campus.datacamp.com/courses/intermediate-python/dictionaries-pandas?ex=1)


## Overview

Dictionary is an unordered collection of key-value pairs, where each key is unique. It is denoted by curly braces `{}` and the key-value pairs are separated by a `:` colon. Dictionaries are extremely useful when we need to store and retrieve data in a way that is fast and efficient.


## Creating a Dictionary

To create a dictionary in Python, we use the curly braces {} and separate the key-value pairs with a colon. Here's an example:

In [1]:
hot_data = {
    # keys        :   values 
    'dataset_name': 'Hawaii Ocean Time-series data',
    'dataset_description': 'HOT dataset',
    'dataset_source': 'BCO-DMO',
    'dataset_variables': ['temperature', 'salinity', 'pressure'], # not including everything
    'dataset_years': (1988, 2019),
    'dataset_ctd':'https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3937.csv',
    'dataset_bottle':'https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3773.csv'
}

In this example, we have created a dictionary called `hot_data` with several key-value pairs. The keys are strings (e.g. 'dataset_name') and the values can be of any data type (e.g. strings, lists, tuples, integers).


## Accessing Dictionary Values

You can access the value of a specific key in a dictionary by using the key inside square brackets `[]`. For example, to access the value for 'dataset_name' in `hot_data`, we would do the following:

In [2]:
print(hot_data['dataset_name'])

Hawaii Ocean Time-series data

## Updating a Dictionary

You can add new key-value pairs to a dictionary or update existing ones by assigning a value to a specific key. Here's an example of adding a new key-value pair to hot_data:

In [3]:
hot_data['dataset_processor'] = 'Fernando C. Pacheco'

In [4]:
print(hot_data)

{'dataset_name': 'Hawaii Ocean Time-series data', 'dataset_description': 'HOT dataset', 'dataset_source': 'BCO-DMO', 'dataset_variables': ['temperature', 'salinity', 'pressure'], 'dataset_years': (1988, 2019), 'dataset_ctd': 'https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3937.csv', 'dataset_bottle': 'https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3773.csv', 'dataset_processor': 'Fernando C. Pacheco'}

## Iterating over a Dictionary

You can iterate over a dictionary using a for loop. Here's an example of iterating over the `hot_data` dictionary we created earlier:

In [5]:
for key, value in hot_data.items():
    print(key, ':', value)

dataset_name : Hawaii Ocean Time-series data
dataset_description : HOT dataset
dataset_source : BCO-DMO
dataset_variables : ['temperature', 'salinity', 'pressure']
dataset_years : (1988, 2019)
dataset_ctd : https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3937.csv
dataset_bottle : https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_3773.csv
dataset_processor : Fernando C. Pacheco

# Pandas

Pandas is a powerful Python library used for data manipulation and analysis. It provides a data structure called DataFrame, which allows you to organize and manipulate data in a tabular form.

## Importing Pandas and Loading Data

Before we start using Pandas, we need to install it and import it into our Python environment.

`conda install pandas`
     
    or 

`pip install pandas`

Next, we will load our data into a Pandas DataFrame. We will use the CTD (conductivity, temperature, depth) dataset from HOT. This dataset contains measurements of water temperature, salinity, and pressure at various depths in the ocean.

In [6]:
import pandas as pd

#url = hot_data['dataset_ctd']
url= "dataset_ctd.csv"

In [16]:
df = pd.read_csv(url , 
                 skiprows=[1],          # Remove the units header...
                 dtype=None,
                 parse_dates=['time']   # Change object type to datetime
                )

/var/folders/wg/y4dhp2991vx8n8w3ckrv_2rw0000gn/T/ipykernel_9320/249634596.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url ,

In [17]:
df

,cruise_name,station,cast,time,Year,Month,Day,timeutc,longitude,latitude,...,CTDPRS,CTDTMP,CTDSAL,CTDOXY,XMISS,CHLPIG,NUMBER,NITRATE,FLUOR,QUALT1
0,1,2,1,1988-10-30 21:34:00+00:00,1988,10,30,2134,-157.9967,22.7483,...,0.0,26.2412,35.2615,183.2,4.99,-0.0126,0.0,NaN,NaN,666666
1,1,2,1,1988-10-30 21:34:00+00:00,1988,10,30,2134,-157.9967,22.7483,...,2.0,26.2412,35.2615,183.2,4.99,-0.0126,36.0,NaN,NaN,222322
2,1,2,1,1988-10-30 21:34:00+00:00,1988,10,30,2134,-157.9967,22.7483,...,4.0,26.2554,35.2530,185.5,4.08,0.0026,72.0,NaN,NaN,223322
3,1,2,1,1988-10-30 21:34:00+00:00,1988,10,30,2134,-157.9967,22.7483,...,6.0,26.2377,35.2455,204.8,3.05,0.0167,108.0,NaN,NaN,222122
4,1,2,1,1988-10-30 21:34:00+00:00,1988,10,30,2134,-157.9967,22.7483,...,8.0,26.2257,35.2419,205.1,2.63,0.0043,96.0,NaN,NaN,222122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503261,288,50,1,2016-11-28 17:51:00+00:00,2016,11,28,1751,-157.9373,22.7703,...,194.0,18.2746,34.9098,203.9,NaN,0.0254,144.0,NaN,NaN,222192
3503262,288,50,1,2016-11-28 17:51:00+00:00,2016,11,28,1751,-157.9373,22.7703,...,196.0,18.1590,34.9027,203.8,NaN,0.0257,108.0,NaN,NaN,222192
3503263,288,50,1,2016-11-28 17:51:00+00:00,2016,11,28,1751,-157.9373,22.7703,...,198.0,17.9686,34.8727,203.8,NaN,0.0257,156.0,NaN,NaN,222192
3503264,288,50,1,2016-11-28 17:51:00+00:00,2016,11,28,1751,-157.9373,22.7703,...,200.0,17.8751,34.8506,201.8,NaN,0.0248,108.0,NaN,NaN,222192
3503265,288,50,1,2016-11-28 17:51:00+00:00,2016,11,28,1751,-157.9373,22.7703,...,202.0,17.7435,34.8246,202.1,NaN,0.0248,60.0,NaN,NaN,222192

In [19]:
df.dtypes

cruise_name                            int64
station                                int64
cast                                   int64
time                     datetime64[ns, UTC]
Year                                   int64
Month                                  int64
Day                                    int64
timeutc                                int64
longitude                            float64
latitude                             float64
depth_max                              int64
pres_max                               int64
Date                                   int64
timecode                              object
HOT_summary_file_name                 object
parameters                            object
num_bottles                            int64
section                               object
nav_code                              object
depth_hgt                              int64
EXPOCODE                              object
Ship                                  object
comments                              object
CTDPRS                               float64
CTDTMP                               float64
CTDSAL                               float64
CTDOXY                               float64
XMISS                                float64
CHLPIG                               float64
NUMBER                               float64
NITRATE                              float64
FLUOR                                float64
QUALT1                                 int64
dtype: object